@import './../../../styles.scss';
.title {
  h2 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: map-get($palette,violet);

    span {
    background: #fff;
    margin: 0 15px;
    }

    &:before{
      background: map-get($palette,violet);
      height: 2px;
      flex: 0.10;
      content: '';
    }
    &.left:after{
      background: none;
    }
  }
  .about {

    margin-left: 75px;
    width: 80%;
    .summary{
      font-size: 32px;
      font: 28px/1.3 "Lato", sans-serif;
      color: map-get($palette,violet);
      .right{
        text-align: right;
      }
    }
    p {
      color: #777777;
      font: 18px/1.3 "Lato", sans-serif;
    }
  }
}
