<div class="title">
  <h2 class="left"><span>About Zita Lerwick</span></h2>
  <div class="about">
    <p class="summary">
      "The objective of my business is to provide a high quality, professionally
      decorated, custom cake and personal service for customers. My cakes not
      only look wonderful but also taste wonderful. I make edible art. My talent
      comes from my love of baking at an early age. As a teen I would bake for
      friends and family. I hold a BS in Marketing and a BA in Business from
      DeSales University."
      <br>
      <span class="right">-Zita Lerwick</span>
    </p>
    <p>
      Growing up in Stow, Ohio, cake designer Aita Lerwick can't remember a time
      when she wasn't baking, following a family tradition that stretches back
      more than 100 years. Whenever she wasn’t in the kitchen, Zita was creating
      in other ways, making award winning art pieces.
    </p>
    <p>
      Now living in the bright state of Florida Zita's passion for baking
      continues to flourish. A scientist by profession, Zita has the soul of an
      artist and now she combines both the art and science of baking to bring
      delicious cakes. All lovingly hand crafted using the finest ingredients
      and mouth-watering fillings and flavours.
    </p>
    <p>
      Zita's cakes are works of edible art – she never creates a cake she
      wouldn't want a second slice of. You can guarantee that your guests will
      be awed by her exquisite and contemporary cake designs. Order wedding,
      birthday and celebration cakes from Zita to make your special occasion
      perfect.
    </p>
  </div>
</div>
