@import './../styles.scss';
.title {
  position: fixed;
  float: left;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("./../assets/Zita.jpg");
  background-position: center; /* Center the image */

  .logo{
    margin: auto;
    width: 100%;
    height: 200px;
    bottom: 0;
    position: absolute;
    img {
      display: block;
      margin: auto;
      width: 50%;
    }
  }
}

.content {
  background-color: #fffffd;
  width: 50%;
  float: right;
  margin: 0px;

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: map-get($palette,violet);
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
      padding: 8px 8px 2px 70px;
      font-size: 35px;
      color: #ffffff;
      text-decoration: underline;
      display: block;
      transition: 0.4s;
    }
    a:hover {
      color: #f1f1f1;
    }
    .closebtn {
      position: absolute;
      text-decoration: none;
      top: 0;
      margin-top: 30px;
      right: 30px;
      font-size: 30px;
      margin-left: 50px;
      padding: 2px 15px;
    }
  }
  .nav-open {
    position: fixed;
    top: 0;
    right: 30px;
    font-size: 30px;
    margin-top: 30px;
    color: #ffffff;
    background-color: map-get($palette,red);
    padding: 2px 15px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
