<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="title">
    <div class="image">
      <div class="logo">
        <img alt="" class="" src="../../../assets/Logo-Zita.png" />
      </div>
    </div>
  </div>
  <div class="content">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&#9776;</a>
        <a [routerLink]="['/']" (click)="closeNav()">Home</a>
        <a [routerLink]="['/about']" (click)="closeNav()">About</a>
      </div>
    <div class="nav-open" (click)="openNav()">&#9776;</div>
    <router-outlet></router-outlet>
  </div>
</div>
