@import './../../../styles.scss';

.about-me {
  color: map-get($palette,violet);
  //background-color: red;
  margin: auto;
  margin-top: 200px;
  width: 75%;
  height: auto;

  p {
    font-family: 'Chango';
    font-size: 25px;
    text-align: center;
  }
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
}

